* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 120px;

    background-color: rgb(2, 58, 161);
}

main {
    height: calc(100vh - 120px);
    
    background-color: rgb(240, 240, 240);
}

.archive {
    display: flex;
    justify-content: space-between;
    
    height: 100px;

    padding: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.archive .titleAndStatus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.archive .titleAndStatus .title {
    font-size: 1.3rem;
    font-weight: bold;
}

.archive .titleAndStatus .statusIndicators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    flex-basis: 15px;
    width: 400px;
}

.archive .titleAndStatus .statusIndicators .atualStatus {
    flex-basis: 100%;
}

.archive .titleAndStatus .statusIndicators .statusBarContainer {
    flex-basis: 320px;
    

    border: 2px solid black;
    border-radius: 10px;
}

.archive .titleAndStatus .statusIndicators .statusBarContainer .statusBar {
    height: 15px;

    border-radius: 8px;

    background-color: rgb(2, 113, 177);
}

.archive .conteinerButton {
    display: flex;
    align-items: center;
    
}

.archive .conteinerButton button {
    border-radius: 50%;

    cursor: pointer;
}

.archive .conteinerButton button img {
    width: 35px;
}